<div class="center contactme">
	<a href="http://facebook.com/juan.itto1" target="_blank">
		<img class="imgcontact rotate" alt="no-source" src="styles/css/img/face.png" width="48px" height="48px">
	</a>
	<a href="https://twitter.com/pablo_itto" target="_blank">
		<img class="imgcontact rotate" alt="no-source" src="styles/css/img/twitter.png" width="48px" height="48px">
	</a>
	<a href="https://github.com/Pabloitto" target="_blank">
		<img class="imgcontact rotate" alt="no-source" src="styles/css/img/githubpx.png" width="48px" height="48px">
	</a>
	<a href="http://www.linkedin.com/pub/juan-pablo-itto-dominguez/46/738/504" target="_blank">
		<img class="imgcontact rotate" alt="no-source" src="styles/css/img/linkedin.png" width="48px" height="48px">
	</a>
	<a href="https://plus.google.com/u/0/109452010704272746595/" target="_blank">
		<img class="imgcontact rotate" alt="no-source" src="styles/css/img/googleplus.png" width="48px" height="48px">
	</a>
</div>