<div>
	Experience
	
	<div class='spaceDiv'>
		<b>ITSON</b>
	</div>
	<div class='spaceDiv'>
		Job position : System Analyst<br><br>
		Support and maintenance for ITSON software applications additionally developer for new web applications in .NET Technologies.
	</div>
	
	<div class='spaceDiv' >
		<b>Genuitec</b>
	</div>
	<div class='spaceDiv'>
		Job position : QA Enginner<br><br>
		Developing automation suites for the SDC product line
	</div>
	
	<div class='spaceDiv'>
		<b>Novutek</b>
	</div>
	<div class='spaceDiv'>
		Job position : Software Enginner<br><br>
		Analyzes, designs and software applications using the Java EE platform and .NET, designs and executes unit tests, uses and configuration and versioning ensures that generates code.
	</div>
	
</div>