<div>
	<h3>Porfile</h3>
	<div>
		<img alt="no-source" src="styles/css/img/me.jpg" width="100px" height="100px">
	</div>
	<table style="padding-top: 5%;">
		<tr>
			<td>
				Name:
			</td>
			<td>
				Juan Pablo Itto Dominguez
			</td>
		</tr>
		<tr>
			<td>
				Age:
			</td>
			<td>
				23
			</td>
		</tr>
		<tr>
			<td>
				Career:
			</td>
			<td>
				Computer Systems Engineering
			</td>
		</tr>
		<tr>
			<td>
				University:
			</td>
			<td>
				ITESCA
			</td>
		</tr>
	    <tr>
			<td>
				Specialize:
			</td>
			<td>
				Networks and distributed systems
			</td>
		</tr>
		<tr>
			<td>
				Location:
			</td>
			<td>
				Cd. Obreg&oacute;n, Sonora M&eacute;xico
			</td>
		</tr>
		<tr>
			<td>
				Mobile:
			</td>
			<td>
				6444-62-66-07
			</td>
		</tr>
		<tr>
			<td>
				Email:
			</td>
			<td>
				juanitto_40@hotmail.com
			</td>
		</tr>
		<tr>
			<td>
				Skype:
			</td>
			<td>
				pablo_itto
			</td>
		</tr>
	</table>
</div>