<script type="text/javascript">
	$(document).ready(function(){
		$('#accordion').accordion();
	});
</script>
<div id="accordion">
  <h3>Programming</h3>
  <div>
     <ul>
      <li>Java</li>
      <li>C# .NET</li>
      <li>Php</li>
      <li>Javascript</li>
      <li>Actionscript 3.0 Flex</li>
      <li>Html/css</li>
      <li>C++</li>
    </ul>
  </div>
  <h3>Databases</h3>
  <div>
    <ul>
      <li>SQL Server</li>
      <li>MS Access</li>
      <li>MySQL</li>
      <li>INFORMIX</li>
      <li>SQLITE</li>
    </ul>
  </div>
  <h3>Reports</h3>
  <div>
    <ul>
      <li>Jasper reports</li>
      <li>Active reports</li>
      <li>Crystal reports</li>
    </ul>
  </div>
   <h3>Design Patterns</h3>
  <div>
    <ul>
      <li>Mvc</li>
      <li>Singleton</li>
      <li>Facade</li>
      <li>Factory</li>
    </ul>
  </div>
   <h3>Aplication servers</h3>
  <div>
    <ul>
      <li>IIS</li>
      <li>Tomcat</li>
      <li>Glassfish</li>
    </ul>
  </div>
     <h3>Version manager</h3>
  <div>
    <ul>
      <li>SVN</li>
      <li>TSF</li>
      <li>GIT</li>
    </ul>
  </div>
  <h3>Operating Systems</h3>
  <div>
    <ul>
      <li>Microsoft Windows</li>
      <li>Linux</li>
    </ul>
  </div>
  <h3>Others</h3>
  <div>
    <ul>
      <li>Web services</li>
      <li>Window services</li>
      <li>Spring</li>
      <li>Hibernate</li>
      <li>Java2D</li>
      <li>JavaServerFaces</li>
      <li>Ajax</li>
      <li>JQuery</li>
      <li>Kendo-UI</li>
    </ul>
  </div>
</div>